form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    font-size: 20px;
    width: 300px;
    margin: 5px 0;
    padding: 10px;
    outline: none;
}

button {
    width: 150px;
    height: 30px;
}

.invalid {
    border: 2px solid red;
}

.disabled {
    opacity: 0;
}

.div {
    font-size: 26px;
    text-align: center;
    color: red;
}